body {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    background-color: linen;
    margin: 0;
    padding: 0;
  }

  h1 {
    color:  #0A96A6;
    font-weight: bold;
    font-size: 40px; 

  }

.masthead {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #F2ADA7;
  width: 100vw;
  height: 70px;
  padding-top: 20px;
  text-align: left;
}

.logo {
  background-color:#024873;
  width: 50px;
  height: 50px;
  margin: auto;
  margin-bottom: 10vw;
  margin-left: 20px;
}
  
.zipsearch {
  background-color: #0A96A6;
  width: 60vw;
  height: 50px;
  margin: auto;
  margin-top: 30px;
  padding-top: 5px;
  text-align: left;
  padding-left: 30px;
}

input {
  display: block;
  color: #024873;
  background-color: #F2ADA7;
  height: 30px;
  width: 150px;
  padding: 5px;
  font-size: 25px;
  text-align: center;
  letter-spacing: 1px;
  border: none;
  border-bottom: 5px solid #024873;
}

.currenttemp{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 30vw;
  height: 20vw;
  margin-top: 30px;
  background-color: #F2ADA7;
}

.index {
  background-color: #F5A45D;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50vw;
  height: 30px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 15px;
}

.daytemp {
  display: grid;
  background-color: #F5A45D;
  height: 60px;
  width: 75vw;
  margin: auto;
  margin-top: 30px;
}

.weekforecast {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-right: 20px;
  margin-left: 20px;
}

.dayone {
  background-color:#F2ADA7;
  margin: auto;
  margin-top: 30px;
  width: 15vw;
  height: 30vw;
}

.daytwo {
  background-color:#F2ADA7;
  margin: auto;
  margin-top: 30px;
  width: 15vw;
  height: 30vw;
}

.daythree {
  background-color: #F2ADA7;
  margin: auto;
  margin-top: 30px;
  width: 15vw;
  height: 30vw;
}

.dayfour {
  background-color: #F2ADA7;
  margin: auto;
  margin-top: 30px;
  width: 15vw;
  height: 30vw;
}

.dayfive {
  background-color: #F2ADA7;
  margin: auto;
  margin-top: 30px;
  width: 15vw;
  height: 30vw;
}

.footer {
  background-color: #024873;
  margin: auto;
  margin-top: 30px;
  width: 100vw;
  height: 30px;
}

/* Phone Style */
@media screen and (max-width: 767px) {
  body {
    background-color: linen; 
  }

  input {
    height: 20px;
  }

  .zipsearch {
    background-color: #0A96A6;
    width: 80vw;
    height: 40px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .index {
    background-color: #F5A45D;
    width: 85vw;
    height: 40px;
    margin: auto;
    margin-top: 40px;
  }

  .daytemp {
    display: grid;
    background-color: #F5A45D;
    height: 50px;
    width: 90vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .currenttemp{
    display: grid;
    margin: auto;
    width: 65vw;
    height: 35vw;
    margin-top: 30px;
    background-color: #F2ADA7;
  }

  .weekforecast {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    margin-right: 20px;
    margin-left: 20px;
  }

  .dayone {
    height: 65vw;
    width: 50vw;
  }
  .daytwo {
    height: 65vw;
    width: 50vw;
  }
  .daythree {
    height: 65vw;
    width: 50vw;
  }
  .dayfour {
    height: 65vw;
    width: 50vw;
  }
  .dayfive {
    height: 65vw;
    width: 50vw;
  }
  
}

/* Tablet Styles */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  body {
    background-color:linen;
  }

  .index {
    background-color: #F5A45D;
    width: 50vw;
    height: 30px;
    margin: auto;
    margin-top: 30px;
  }

  .daytemp {
    display: grid;
    background-color: #F5A45D;
    height: 60px;
    width: 75vw;
    margin: auto;
    margin-top: 30px;
  }
  
  .weekforecast {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-right: 20px;
    margin-left: 20px;
  }

  .dayone {
    height: 40vw;
    width: 30vw;
  }
  .daytwo {
    height: 40vw;
    width: 30vw;
  }
  .daythree {
    height: 40vw;
    width: 30vw;
  }
  .dayfour {
    height: 40vw;
    width: 30vw;
  }
  .dayfive {
    height: 40vw;
    width: 30vw;
  }
  .daysix {
    background-color: #F2ADA7;
    margin: auto;
    margin-top: 30px;
    height: 40vw;
    width: 30vw;

  }

  .currenttemp{
    display: grid;
    margin: auto;
    width: 50vw;
    height: 25vw;
    margin-top: 30px;
    background-color: #F2ADA7;
  }

  .index {
    background-color: #F5A45D;
    width: 90vw;
    height: 50px;
    margin: auto;
    margin-top: 30px;
  }


.daytemp {
  display: grid;
  background-color: #F5A45D;
  height: 50px;
  width: 75vw;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
  
  
}
